{
  "presets": [
    "airbnb",
    [
      "@babel/preset-env"
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "add-react-displayname"
  ]
}
