.root {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  color: #FBFDFD;
  padding: 0 8px;
  border-radius: 14px;
  display: inline-block;
  background-color: #0C758A;
}

.active {
  background-color: #F65673;
}

.adrenaline {
  background-color: #2C3F43;
}

.foodAndDrink {
  background-color: #EF7E4C;
}

.entertainment,
.inHome {
  background-color: #ECBD6C;
}

.getaways {
  background-color: #4FBAA1;
}

.relax {
  background-color: #28B7D5;
}

.makeADifference {
  background-color: #37489B;
}

.discover {
  background-color: #5D3A9B;
}
