.experienceHolder {
  display: flex;
  margin: 0 30px 0 0;
  text-align: center;
  align-items: center;
}

.experienceVisual {
  width: 20px;
  height: auto;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 2px;
}

.rewardTitle {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 24px;
  padding-left: 10px;
  text-align: left;
}
